[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
uvicorn = "*"
passlib = "*"
bcrypt = "*"
pyjwt = "*"
python-multipart = "*"
python-dotenv = "*"
psycopg2 = "*"
alembic = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
